# AWS account config
region = "eu-central-1"

# General for all infrastructure
# This is the name prefix for all infra components
name = "student1"

# VPC и subnets нужно получить у преподавателя для группы devops8
vpc_id      = "vpc-xxxxxxxxx"  # Спроси у преподавателя
subnets_ids = ["subnet-xxxxxxxxx", "subnet-yyyyyyyyy", "subnet-zzzzzzzzz"]  # Спроси у преподавателя

tags = {
  Environment = "devops8-student1"
  TfControl   = "true"
}

# Домен для группы devops8
zone_name = "devops8.test-danit.com"
